body {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #303030;
    margin: 0;
    padding: 10px;
}

a {
    color: white;
}

.navbalk ul {
    display: flex;
    justify-content: flex-start;
    background-color: #8b080f;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbalk a {
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 1.50rem;
    padding: 0.5rem;
    border: 0;
    transition: background-color 0.5s;
}

.navbalk a:hover {
    background-color: white;
    color: #303030;
}

.form-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #303030;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #8b080f;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #303030;
    border-radius: 4px;
    display: flex;
}

textarea {
    padding: 10px;
    border: 1px solid #303030;
    border-radius: 4px;
    display: flex;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8b080f;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #000000;
}

.filmgrid {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.filmgrid-items {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    margin: 50px;
    background-color: #303030;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #8b080f;
}

.detail-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.detail-item {
    
}

.filmoverzicht {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.filmoverzicht table {
    background-color: #303030;
    width: 25%;
}

.filmoverzicht thead {
    background-color: #8b080f;
}

.filmoverzicht tfoot {
    text-align: center;
}

.filmoverzicht th, tr, td {
    border: 1px inset white;
    border-collapse: collapse;
}

.movie-form-page {
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}